{#
/**
 * @file
 */
#}
{% spaceless %}
  <div class="row">
    <div class="col-md-12">
      <table id="table_customer"
             data-toggle="table"
             data-height="526"
             data-pagination="true"
             data-search="true"
             data-page-list="[10, 25, 50, 100]"
             data-url="{{ path('customer.list_customer') }}">
        <thead>
        <tr>
          <th data-field="customer_code">Mã Khách Hàng</th>
          <th data-field="customer_name">Họ Tên Khách Hàng</th>
          <th data-field="customer_address">Địa Chỉ Khách Hàng</th>
          <th data-field="customer_represent">Người Đại Diện</th>
          <th data-field="employee_mobiphone">Số Điện Thoại</th>
          <th data-field="customer_debt">Loại Khách Hàng</th>
          <th data-field="edit"></th>
          <th data-field="delete"></th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
{% endspaceless %}
